@model AlbumRating.ViewModels.Models.DeleteAlbumViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeleteAlbumViewModel</h4>
    <hr />
    <form asp-action="Delete">

        <div class="form-group">
            <label asp-for="Albums" class="control-label"></label>
            <select asp-for="AlbumId" asp-items="@(new SelectList(Model.Albums,"AlbumId","Title"))"></select>
            <span asp-validation-for="Albums" class="text-danger"></span>
        </div>


        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>
