@{
    ViewData["Title"] = "ListAll";
}

@model AlbumRating.ViewModels.Models.IndexAllRatedAlbumsGloballyViewModel

<h2>All Albums</h2>

<hr />
@foreach (var a in Model.AlbumsWithRating.OrderByDescending(x => x.Value))
{
    string print = "";

    if(a.Key.TimesRated > 0)
    {
        print = $"{a.Key.Title} by {a.Key.Artist} | Average rating {(double)a.Value/a.Key.TimesRated:F1} | Rated {a.Key.TimesRated} times";
    }
    else
    {
        print = $"{a.Key.Title} by {a.Key.Artist} | Average rating 0 | Rated {a.Key.TimesRated} times";

    }

    <h4>@print</h4>

}
