@model AlbumRating.ViewModels.Models.IndexAllRatedAlbumsGloballyViewModel

@{
    ViewData["Title"] = "ViewAllRatedGlobally";
}


<h1>ViewAllRatedGlobally</h1>
@foreach (var kvp in Model.AlbumWithRating)
{
    string title = Model.Albums.Find(x => x.AlbumId == kvp.Key.AlbumId).Title;
    <h4>@title</h4>

    foreach(int rating in kvp.Value)
    {
        <h4>@rating</h4>
    }

}