@model AlbumRating.ViewModels.Models.RateAlbumViewModel

@{
    ViewData["Title"] = "Rate";
}

<h2>Rate</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Rate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Albums" class="control-label"></label>
                <select asp-for="AlbumId" asp-items="@(new SelectList(Model.Albums,"AlbumId","Title"))"></select>
                <span asp-validation-for="Albums" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                @Html.DropDownListFor(m => m.Rating, Enumerable.Range(1, 5).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Rate" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
