@model AlbumRating.ViewModels.Models.IndexAllRatedAlbumsViewModel

@{
    ViewData["Title"] = "View";
}


<h1>All Albums</h1>
@foreach (var a in Model.RatedAlbums)
{
    string title = Model.Albums.Find(x=>x.AlbumId == a.AlbumId).Title;
    <h4>@title @a.Rating </h4>
}