@model AlbumRating.ViewModels.Models.IndexAllRatedAlbumsViewModel

@{
    ViewData["Title"] = "View";
}


<h1>Your Rated Albums</h1>
@foreach (var a in Model.RatedAlbums.OrderByDescending(x => x.Rating))
{
    string title = Model.Albums.Find(x => x.AlbumId == a.AlbumId).Title;
    string artist = Model.Albums.Find(x => x.AlbumId == a.AlbumId).Artist;
    string print = $"{title} by {artist} | rated: {a.Rating} / {Model.maxRating}";
    <h4>@print</h4>
}