@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    123.321.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@albumrating.com">Support@albumrating.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@albumrating.com">Marketing@albumrating.com</a>
</address>
